@{ ViewData["Title"] = "Penelitian "; }

<!DOCTYPE html>


<html>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="~/css/mapStyle.css" />
    <script src="~/js/mapJavaScript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style2.css" />
    <!-- Data Table-->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">*@
    <style>
        .button {
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin-top:20px;
            margin-left:90px;
            border-radius:20px;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }

            .button1:hover {
                background-color: #4CAF50;
                color: white;
            }

        .penelitiID {
            background-color:lightsteelblue;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        body {
            font-family: 'Karla', sans-serif;
        }
        .content-wrapper {
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
            min-height: 402px !important;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: right top;
        }

        .label {
            color: white;
            border-radius: 5px;
            border-spacing: 20px;
            padding: 5px;
            margin-top: 50px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:20px;
          color:darkslategray
        }

        .title-card {
            color: #FFFFFF;
            background-color: #F2AA4C;
            padding: 15px;
            border-radius: 10px 10px 0px 0px;
            min-width: inherit;
        }

        .radio-checkbox {
            font-size: large;
            letter-spacing: 1px;
        }


   
        .blue-color {
            background-color: #1d84C6 !important;
        }

        .green-color {
            background-color: #1CB394 !important;
        }

        .btn:active {
            background-color: #ffe7ab;
            transform: translateY(4px);
        }

        .btn:hover {
            background-color: #ffe7ab;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
         td .style8{
            font-weight:bold;
        }
        tr:hover {
            background-color:lemonchiffon;
        }
    </style>
</head>
<body>




    <div class="px-3 mt-3">
        <div class="content-wrapper p-3">

            <div class="card-title">
                <a href="IndexTambah" class="btn" style="background-color:burlywood">Data Penelitian</a>
                <a href="IndexTambahPeneliti" class="btn" style="background-color:burlywood">Identitas Peneliti</a>
                <a href="IndexTambahCV" class="btn " style="background-color:burlywood">CV- Pengalaman Penelitian</a>
                <a href="IndexTambahPublikasi" class="btn" style="background-color:burlywood">Publikasi</a>

            </div> &nbsp;&nbsp;

            <hr />
            <span class="label penelitiID">Ketua Peneliti :</span>

            <hr />

            <div class="px-3 mt-3" id="sidebar">
                <div class="content-wrapper p-3" id="content">

                    <br>
                    <div style="width: 100%; overflow-x: auto;" class="col">
                        <table>
                            <thead>
                                <tr>
                                    <td class="style8">
                                        NPP
                                    </td>
                                    <td>
                                        @Model.data.NPP
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        Nama
                                    </td>
                                    <td>
                                        @Model.data.NAMA_LENGKAP_GELAR
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        Jabatan Fungsional
                                    </td>
                                    <td>
                                        @Model.data2.DESKRIPSI
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        Pangkat/Golongan
                                    </td>
                                    <td>
                                        @Model.data6.DESKRIPSI/@Model.data3.ID_REF_GOLONGAN
                                    </td>
                                </tr>

                                <tr>
                                    <td class="style8">
                                        NPP/NIDN
                                    </td>
                                    <td>

                                        @Model.data.NPP / @Model.data.NIDN
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        Unit/Fakultas/Jurusan
                                    </td>
                                    <td>
                                        @Model.data4.NAMA_UNIT/@Model.data5.NAMA_UNIT
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        Alamat
                                    </td>
                                    <td>
                                        @Model.data.ALAMAT
                                    </td>
                                </tr>

                                <tr>
                                    <td class="style8">
                                        No. Telp/Faks
                                    </td>
                                    <td>
                                        @Model.data.NO_TELPON_HP
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        Email
                                    </td>
                                    <td>
                                        @Model.data.EMAIL_INSTITUSI
                                    </td>
                                </tr>

                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="button button1">Tambah Proposal</button>

        </div>


    </div>


</body>

</html>