@{ ViewData["Title"] = "Profile "; }

<!DOCTYPE html>


<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>


    <!-- Data Table-->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">*@
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

        body {
            font-family: 'Karla', sans-serif;
        }

        .label {
            color: white;
            border-radius: 5px;
            border-spacing: 20px;
            padding: 5px;
            margin-top: 50px;
            margin-bottom: 60px;
        }

        .style {
            background-color: #577cb5;
            color: black;
            border: 2px solid #577cb5;
            padding: 8px;
            margin-top: 50px;
            margin-bottom: 20px;
            font-family: monospace;
            border-radius: 62px;
        }

        .propoPenelitian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .propoPengabdian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .content-wrapper {
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
            min-height: 402px !important;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: right top;
        }

        .title-card {
            color: #FFFFFF;
            background-color: #F2AA4C;
            padding: 15px;
            border-radius: 10px 10px 0px 0px;
            min-width: inherit;
        }

        .blue-color {
            background-color: #1d84C6 !important;
        }

        .green-color {
            background-color: #1CB394 !important;
        }

        a :hover {
            color: darkslateblue;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: snow;
        }
    </style>
</head>
<body>
    <div class="px-3 mt-3">
        <div class="content-wrapper p-3">
            @if (TempData["succ"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color:green">
                    <strong><i class='fas fa-bell' style='font-size:22px; color:floralwhite'></i>&nbsp; @TempData["succ"].ToString()</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="color:white">&times;</span>
                    </button>
                </div>
            }
            @if (TempData["err"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong><i class='fas fa-exclamation-triangle' style='font-size:22px; color:floralwhite'></i>&nbsp;@TempData["err"].ToString()</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="color:white">&times;</span>
                    </button>
                </div>
            }
            <div class="card-header">
                <a href="#" class="brand-link" style="background-color:azure">
                    <img src="~/images/approved.png" class="brand-image" style="opacity: .8">
                    <span style="color:black; font-weight:bold">PENGESAHAN PROPOSAL PENGABDIAN MASYARAKAT</span>
                </a>
            </div>

            <div style="width: 100%; overflow-x: auto;" class="col">
                <br />
                <table id="datatable" class="table  table-hover dt-responsive nowrap" style="line-height:16px;border:hidden">
                    <thead>
                        <tr>

                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                ID PROPOSAL
                            </td>
                            <td>
                                @Model.data.ID_PROPOSAL
                            </td>
                        </tr>
                        <tr>

                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Periode Penelitian
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Judul Kegiatan Pengabdian
                            </td>
                            <td>
                                @Model.data.JUDUL_KEGIATAN
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Judul Penelitian yang digunakan sebagai landasan
                            </td>
                            <td>
                                @Model.data.LANDASAN_PENELITIAN
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Jenis Pengabdian
                            </td>
                            <td>
                                @Model.data.JENIS_PENGABDIAN
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Dosen Pengusul
                            </td>
                            <td>
                                @Model.nama.NAMA
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Anggota 1
                            </td>
                            <td>
                                @Model.data.ANGGOTA1
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Anggota 2
                            </td>
                            <td>
                                @Model.data.ANGGOTA2
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Mitra Kerjasama/Mitra Sasaran
                            </td>
                            <td>
                                @Model.data.MITRA
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Lokasi
                            </td>
                            <td>
                                @Model.data.LOKASI
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Jarak PT ke Lokasi kegiatan
                            </td>
                            <td>
                                @Model.data.JARAK_PT_LOKASI
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Luaran(Output) yang dihasilkan
                            </td>
                            <td>
                                @Model.data.OUTPUT
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Outcome
                            </td>
                            <td>
                                @Model.data.OUTCOME
                            </td>
                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Jangka Waktu dan Durasi Pelaksanaan Kegiatan
                            </td>
                            <td>
                                @Model.data.AWAL -  @Model.data.AKHIR
                            </td>

                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Sasaran
                            </td>
                            <td>
                                @Model.data.SASARAN
                            </td>


                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Topik Penelitian sesuai rencana unit
                            </td>
                            <td>
                            </td>

                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Dana UAJY yang diusulkan
                            </td>
                            <td>
                                @Model.data.DANA_UAJY

                            </td>

                        </tr>
                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue;">
                                Dana Pribadi yang diusulkan
                            </td>
                            <td>
                                @Model.data.DANA_PRIBADI

                            </td>

                        </tr>

                        <tr>
                            <td class="style8" style="font-weight: bold;color: steelblue; line-height:50px">
                                Dokumen
                            </td>
                            <td style="line-height:50px">
                                <span class="label style"><a style="color:white" href="/PreviewFileProposalPengabdian/@Model.data.ID_PROPOSAL"><i class="fa fa-file-download"></i> Unduh Dokumen</a></span>
                            </td>

                        </tr>


                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success" onclick="togModalUpdateSetuju(@Model.data.ID_PROPOSAL)" id="setujuiButton_"><i class="fa fa-check-circle"></i>&nbsp; Setujui Proposal</button>
                <button type="submit" class="btn btn-danger" onclick="togModalUpdateTolak(@Model.data.ID_PROPOSAL)" id="tolakButton_"><i class="fa fa-close"></i>&times; Tolak Proposal</button>
                <button type="submit" class="btn btn-warning" onclick="togModalRevisi(@Model.data.ID_PROPOSAL)" id="revisiButton_"><i class="fa fa-close"></i>&times; Revisi Proposal</button>

                @*<button type="submit" class="btn btn-danger" onclick="togModalUpdateTolak( id="tolakButton_"><i class="fa fa-close"></i>&times; Tolak Proposal</button>*@

            </div>
        </div>
    </div>
    @*Modal Revisi*@
    <div class="modal fade" id="modalRevisi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Revisi Proposal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form class="formTambahFeedback " method="post" asp-action="addFeedback" asp-controller="Pengabdian" enctype="multipart/form-data" novalidate>
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ID_PROPOSAL</label>
                        <input id="ID_PROPOSAL" name="ID_PROPOSAL" type="text" class="style1" style=" word-wrap:break-word" value="@Model.data.ID_PROPOSAL" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">NPP</label>
                        <input id="NPP" name="NPP" type="text" class="style1" style=" word-wrap:break-word" value="@Model.data.NPP" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Status</label>
                        <input id="STATUS" name="STATUS" type="text" class="style1" style=" word-wrap:break-word" value="Revisi" />
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label">
                            Alasan Revisi
                        </label>
                        <textarea text="text" id="FEEDBACK" name="FEEDBACK" class="style1"></textarea>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

    @*Modal Dekan Disetujui*@
    <div class="modal fade" id="modalSetuju" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Menyetujui Proposal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin ingin menyetujui proposal ini?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <button type="button" onclick="setujuiProposal()" class="btn btn-danger">Setujui</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Dekan Tolak*@
    <div class="modal fade" id="modalTolak" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Tolak Proposal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin ingin menolak proposal ini?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <button type="button" onclick="tolakProposal()" class="btn btn-danger">Tolak</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
    function togModalUpdateSetuju(id) {
        //console.log(id)
        id_proposal = id;
        this.tempIdUpdate = id;
        $('#modalSetuju').modal('show');
    }
    function togModalUpdateTolak(id) {
        //console.log(id)
        id_proposal = id;
        this.tempIdUpdate = id;
        $('#modalTolak').modal('show');
    }
    function togModalRevisi(id_proposal) {
        //console.log(id)
        id_proposal = id_proposal;
        this.tempIdProposal = id_proposal;
        $('#modalRevisi').modal('show');
    
        $('#id_proposal').val(id_proposal);
    }
    function closeModal() {
        $('#modalSetuju').modal('hide');
    }
    function closeModalTolak() {
        $('#modalTolak').modal('hide');
    }
    function closeModalRevisi() {
        $('#modalRevisi').modal('hide');
    }

    function setujuiProposal() {
        var self = this;
        console.log(id_proposal);
        var update = $('#updateButton_' + this.tempIdDelete);
        var myTable = $('#datatable').DataTable();

        $.ajax({
            type: "POST",
            url: "/Pengabdian/UpdateStatusDekanDisetujui?id_proposal=" + id_proposal,
            data: ({ id_proposal: id_proposal }),
            success: function (data) {

                Swal.fire({
                    icon: 'success',
                    title: 'Data berhasil diupdate!',
                    confirmButtonText: 'Tutup',
                })
                closeModal();
                window.location.reload();

            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'SiLPPM said: ',
                    text: 'Data gagal diupdate!',
                })
                window.location.reload();
            }
        });
    }
    function tolakProposal() {
        var self = this;
        console.log(id_proposal);
        var update = $('#tolakButton_' + this.tempIdDelete);
        var myTable = $('#datatable').DataTable();

        $.ajax({
            type: "POST",
            url: "/Pengabdian/UpdateStatusDekanDitolak?id_proposal=" + id_proposal,
            data: ({ id_proposal: id_proposal }),
            success: function (data) {

                Swal.fire({
                    icon: 'success',
                    title: 'Data berhasil diupdate!',
                    confirmButtonText: 'Tutup',
                })
                closeModalTolak();
                window.location.reload();

            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'SiLPPM said: ',
                    text: 'Data gagal diupdate!',
                })
                window.location.reload();
            }
        });
    }
</script>