@{ ViewData["Title"] = "Profile "; }

<!DOCTYPE html>


<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>


    <!-- Data Table-->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">*@
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

        body {
            font-family: 'Karla', sans-serif;
        }

        .label {
            color: white;
            border-radius: 5px;
            border-spacing: 20px;
            padding: 5px;
            margin-top: 50px;
            margin-bottom: 60px;
        }

        .penelitianDiajukan {
            background-color: chocolate;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .propoPenelitian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .propoPengabdian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .content-wrapper {
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
            min-height: 402px !important;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: right top;
        }

        .title-card {
            color: #FFFFFF;
            background-color: #F2AA4C;
            padding: 15px;
            border-radius: 10px 10px 0px 0px;
            min-width: inherit;
        }

        .blue-color {
            background-color: #1d84C6 !important;
        }

        .green-color {
            background-color: #1CB394 !important;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: lightblue;
        }
    </style>
</head>
<body>

    
        <div class="px-3 mt-3">
            <div class="content-wrapper p-3">
                <a href="#" class="brand-link">
                    <img src="~/images/profile-user.png" alt="Profile" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span style="color:black">Profile</span>

                </a>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item"><a asp-controller="Account" asp-action="IndexLihat">Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Index</li>
                    </ol>
                </nav>
                <div style="width: 100%; overflow-x: auto;" class="col">
                    <table class="table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                        
                                <td class="style8">
                                    Nama
                                </td>
                                <td>
                                    @Model.data.NAMA_LENGKAP_GELAR
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    Pangkat/Golongan
                                </td>
                                <td>
                                    @Model.data2.DESKRIPSI/@Model.data3.ID_REF_GOLONGAN
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    NPP/NIDN
                                </td>
                                <td>

                                    @Model.data.NPP / @Model.data.NIDN
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    Unit/Fakultas/Jurusan
                                </td>
                                <td>
                                @Model.data4.NAMA_UNIT/@Model.data5.NAMA_UNIT
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    Alamat
                                </td>
                                <td>
                                   @Model.data.ALAMAT
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    Alamat Kantor
                                </td>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    No. Telp/Faks
                                </td>
                                <td>
                                   @Model.data.NO_TELPON_HP
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    Email
                                </td>
                                <td>
                                   @Model.data.EMAIL_INSTITUSI
                                </td>
                            </tr>
                            <tr>
                                <td class="style8">
                                    Bidang Keahlian
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div>
                    <span class="label penelitianDiajukan">Proposal yang sudah diajukan :</span>
                  <br />
                    <br />
                    <br />
                </div>
                <div>
                    <span class="label propoPenelitian">Proposal Penelitian :</span>

                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Aksi</th>
                                    <th>Judul Proposal</th>
                                    <th>Status</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td>
                                        <p style="font-weight:bold"><a href="google.com">Lihat Review</a></p>
                                    </td>
                                    <td> @Model.refpropo.JUDUL</td>
                                    <td>@Model.refpropo.DESKRIPSI</td>

                                    <td>
                                        <p style="font-weight:bold"><a href="google.com">Edit Detail</a></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <span class="label propoPengabdian">Proposal Pengabdian:</span>
                        <div class="card-body">
                            <table id="datatable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Aksi</th>
                                        <th>Judul Proposal</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>
                                        <td>
                                            <p style="font-weight:bold"><a href="google.com">Lihat Review</a></p>
                                        </td>
                                        <td> @Model.refpropo2.JUDUL</td>
                                        <td>@Model.refpropo2.DESKRIPSI</td>

                                        <td>
                                            <p style="font-weight:bold"><a href="google.com">Edit Detail</a></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                
                </div>
        </div>

    

        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });</script>

      

    

</body>
</html>
