@using System;
@using System.Linq;
@using System.Security.Claims
@using SiLPPM_New_Version.Models;

<!DOCTYPE html>


<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>


    <!-- Data Table-->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">*@
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

        body {
            font-family: 'Karla', sans-serif;
        }

        .label {
            color: white;
            border-radius: 5px;
            border-spacing: 20px;
            padding: 5px;
            margin-top: 50px;
            
            margin-bottom: 60px;
        }

        .penelitianDiajukan {
            background-color: chocolate;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .propoPenelitian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .propoPengabdian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .content-wrapper {
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
            min-height: 402px !important;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: right top;
        }

        .title-card {
            color: #FFFFFF;
            background-color: #F2AA4C;
            padding: 15px;
            border-radius: 10px 10px 0px 0px;
            min-width: inherit;
        }

        .blue-color {
            background-color: #1d84C6 !important;
        }

        .green-color {
            background-color: #1CB394 !important;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: lightblue;
        }
    </style>
</head>
<body>


    <div class="px-3 mt-3">

        <div class="content-wrapper p-3">
            @if (TempData["succ"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show"
                     role="alert"
                     style="background-color: green">
                    <strong>
                        <i class="fas fa-bell"
                           style="font-size: 22px; color: floralwhite"></i>&nbsp; @TempData["succ"].ToString()
                    </strong>
                    <button type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                </div>
            } @if (TempData["err"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                    <strong>
                        <i class="fas fa-exclamation-triangle"
                           style="font-size: 22px; color: floralwhite"></i>&nbsp;@TempData["err"].ToString()
                    </strong>
                    <button type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                </div>
            }
        <form method="post" id="formAddNilaiReview" asp-action="addNilaiReview" asp-controller="Review" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="card-header">
                <a href="#" class="brand-link" style="background-color:white">
                    <img src="~/images/documents.png" class="brand-image" style="opacity: .8">
                    <span style="color:black; font-weight:bold">Review Proposal Penelitian</span>
                </a>
            </div>
            <div class="form-group row float-right" style=" margin-right: 21px; margin-bottom: 26px;">
                <div class="card alert-default " style="border-left-width: 7px; margin-left: 19px; margin-top: 28px; width: fit-content; background-color: #f6f6f6; border-left-color: #e8a184; border-top-right-radius: 8px; border-bottom-right-radius: 8px; ">
                    <div class="card-header" style=" font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder; border-right: inset; border-left-style: outset; border-bottom-right-radius: 10px;">
                        <i class="fa fa-solid fa-id-badge" aria-hidden="true"></i>
                        ID PROPOSAL : @Model.review.id_proposal
                    </div>
                </div>
                <div class="card alert-default " style="border-left-width: 7px; margin-left: 19px; margin-top: 28px; width: fit-content; background-color: #f6f6f6; border-left-color: #78ad67; border-top-right-radius: 8px; border-bottom-right-radius: 8px; ">
                    <div class="card-header" style=" border-bottom-color: #7199cd; font-family: Georgia, 'Times New Roman', Times, serif; border-right: inset; border-left-style: outset; font-weight: bolder; border-bottom-right-radius: 10px;">
                        <a href="">
                            <i class="fa fa-solid fa-eye" aria-hidden="true"></i>   Lihat File Proposal
                        </a> 
                     
                    </div>
                </div>
            </div>
          
            <div style="width: 100%; overflow-x: auto; margin-top:50px" class="col">
                <input type="text" hidden class="form-control" id="id_proposal" name="id_proposal" value="@Model.review.id_proposal">
                <input type="text" hidden class="form-control" id="ID_REVIEWER" name="ID_REVIEWER" value="@Model.cekUser.username">
                <table class="table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th colspan="5" style="font-weight:bolder; background-color:indianred" class="text-center">LEMBAR EVALUASI PROPOSAL PENELITIAN UAJY</th>

                        </tr>

                        <tr style="font-weight:bolder;background-color:grey" class="text-center">

                            <th>KRITERIA PENILAIAN</th>
                            <th>BOBOT</th>
                            <th>SKOR</th>
                            <th>NILAI</th>
                            <th>JUSTIFIKASI PENILAIAN</th>

                        </tr>
                    </thead>
                    <tbody>





                        <tr class="text-center align-middle">
                            <td> Relevansi usulan penelitian terhadap bidang fokus, tema, dan topik dengan tema penelitian Universitas dan Unit</td>
                            <td>7.5</td>
                            <td id="N1_FIELDS1" name="N1_FIELDS1" value="">0</td>
                            <td id="nilai">0</td>
                            <td>
                                <select id="N1_JUSTIFIKASI1" name="N1_JUSTIFIKASI1" onchange="displayValue()" style="height:34px; width:514px; border-radius:9px">
                                    <option value="0">Tidak relevan/topik lainnya</option>
                                    <option value="3">Relevan</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="text-center align-middle">
                            <td> Kualitas dan relevansi tujuan, permasalahan, state of the art, metode, dan kebaruan penelitian</td>
                            <td>37.5</td>
                            <td id="N1_FIELDS2" name="N1_FIELDS2" value="">0</td>
                            <td id="nilai2">0</td>
                            <td>
                                <select id="N1_JUSTIFIKASI2" name="N1_JUSTIFIKASI2" onchange="displayValue()" style="height:34px; width:514px; border-radius:9px">
                                    <option value="0">Tidak ada</option>
                                    <option value="5">Kurang Signifikan</option>
                                    <option value="10">Cukup Signifikan</option>
                                    <option value="15">Sangat Signifikan</option>

                                </select>
                            </td>
                        </tr>
                        <tr class="text-center align-middle">
                            <td> Keterkaitan usulan penelitian terhadap hasil penelitian yang didapat sebelumnya dan rencana kedepan (roadmap penelitian)</td>
                            <td>12.5</td>
                            <td id="N1_FIELDS3" name="N1_FIELDS3" value="">0</td>
                            <td id="nilai3">0</td>
                            <td>
                                <select id="N1_JUSTIFIKASI3" name="N1_JUSTIFIKASI3" onchange="displayValue()" style="height:34px; width:514px; border-radius:9px">
                                    <option value="0">Tidak ada roadmap</option>
                                    <option value="2"> Ada roadmap, keterkaitan milestone dan usulan penelitian tidak jelas </option>
                                    <option value="5"> Ada roadmap, keterkaitan milestone dan usulan penelitian jelas</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="text-center align-middle">
                            <td> Kesesuaian kompetensi tim peneliti dan pembagian tugas</td>
                            <td>7.5</td>
                            <td id="N1_FIELDS4" name="N1_FIELDS4" value="">0</td>
                            <td id="nilai4">0</td>
                            <td>
                                <select id="N1_JUSTIFIKASI4" name="N1_JUSTIFIKASI4" onchange="displayValue()" style="height:34px; width:514px; border-radius:9px">
                                    <option value="1">Tidak kompeten, tugas tidak jelas</option>
                                    <option value="2">Cukup kompeten, tugas cukup jelas </option>
                                    <option value="3"> Sangat kompeten, tugas sangat jelas</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="text-center align-middle">
                            <td> Kewajaran metode tahapan target capaian luaran wajib penelitian</td>
                            <td>12.5</td>
                            <td id="N1_FIELDS5" name="N1_FIELDS5" value="">0</td>
                            <td id="nilai5">0</td>
                            <td>
                                <select id="N1_JUSTIFIKASI5" name="N1_JUSTIFIKASI5" onchange="displayValue()" style="height:34px; width:514px; border-radius:9px">
                                    <option value="1">Tidak jelas</option>
                                    <option value="3"> Kurang jelas </option>
                                    <option value="5"> Sangat jelas</option>
                                </select>
                            </td>
                        </tr>

                        <tr class="text-center align-middle">
                            <td> Kekinian dan sumber primer pengacuan pustaka</td>
                            <td>12.5</td>
                            <td id="N1_FIELDS6" name="N1_FIELDS6" value="">0</td>
                            <td id="nilai6">0</td>
                            <td>
                                <select id="N1_JUSTIFIKASI6" name="N1_JUSTIFIKASI6" onchange="displayValue()" style="height:34px; width:514px; border-radius:9px">
                                    <option value="0">Tidak ada rujukan primer</option>
                                    <option value="1"> Rujukan primer dan mutakhir 1-50%</option>
                                    <option value="3"> Rujukan primer dan mutakhir 51-80%</option>
                                    <option value="5"> Rujukan primer dan mutakhir >80%</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="text-center align-middle">
                            <td> Penulisan usulan sesuai panduan (jumlah kata per bagian, isi dokumen pendukung)</td>
                            <td>10</td>
                            <td id="N1_FIELDS7" name="N1_FIELDS7" value="">0</td>
                            <td id="nilai7">0</td>
                            <td>
                                <select id="N1_JUSTIFIKASI7" name="N1_JUSTIFIKASI7" onchange="displayValue()" style="height:34px; width:514px; border-radius:9px">
                                    <option value="0">Tidak</option>
                                    <option value="4"> Ya </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:center; vertical-align:central; color:darkred; font-weight:bolder">TOTAL</td>
                            <td id="jumlahTotal">0</td>
                            <td></td>
                        </tr>


                    </tbody>
                </table>
                <hr />

                <button type="submit" class="btn btn-danger"  >Simpan</button>
            </div>

            <!-- Input penampung data untuk insert data -->
            <input type="hidden" name="N1_FIELD1" id="N1_FIELD1" />
            <input type="hidden" name="N1_FIELD2" id="N1_FIELD2" />
            <input type="hidden" name="N1_FIELD3" id="N1_FIELD3" />
            <input type="hidden" name="N1_FIELD4" id="N1_FIELD4" />
            <input type="hidden" name="N1_FIELD5" id="N1_FIELD5" />
            <input type="hidden" name="N1_FIELD6" id="N1_FIELD6" />
            <input type="hidden" name="N1_FIELD7" id="N1_FIELD7" />
            <input type="hidden" name="jumlah" id="jumlah"/>
        </form>
        </div>
    </div>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        function displayValue() {

            /* Untuk Value 1 --> Relevansi usulan penelitian.. */
            var value1 = document.getElementById("N1_JUSTIFIKASI1").value;
            skorValue1 = parseInt(value1) * 1;
            nilaiValue1 = 7.5 * skorValue1;
            document.getElementById("N1_FIELDS1").innerHTML = skorValue1;
            temp1 = document.getElementById("nilai").innerHTML = nilaiValue1;
            //untuk mengambil data Skor Nilai Review
            $("#N1_FIELD1").val(document.getElementById("N1_FIELDS1").innerHTML);

            /* Untuk Value 2 --> Kualitas dan relevansi tujuan.. */
            var value2 = document.getElementById("N1_JUSTIFIKASI2").value;
            skorValue2 = parseInt(value2) * 1;
            nilaiValue2 = 37.5 * skorValue2;
            document.getElementById("N1_FIELDS2").innerHTML = skorValue2;
            temp2 = document.getElementById("nilai2").innerHTML = nilaiValue2;
            //untuk mengambil data Skor Nilai Review
            $("#N1_FIELD2").val(document.getElementById("N1_FIELDS2").innerHTML);

            /* Untuk Value 3 --> Keterkaitan usulan penelitian.. */
            var value3 = document.getElementById("N1_JUSTIFIKASI3").value;
            skorValue3 = parseInt(value3) * 1;
            nilaiValue3 = 12.5 * skorValue3;
            document.getElementById("N1_FIELDS3").innerHTML = skorValue3;
            temp3 = document.getElementById("nilai3").innerHTML = nilaiValue3;
            //untuk mengambil data Skor Nilai Review
            $("#N1_FIELD3").val(document.getElementById("N1_FIELDS3").innerHTML);

            /* Untuk Value 4 --> Kesesuaian kompetensi tim peneliti.. */
            var value4 = document.getElementById("N1_JUSTIFIKASI4").value;
            skorValue4 = parseInt(value4) * 1;
            nilaiValue4 = 7.5 * skorValue4;
            document.getElementById("N1_FIELDS4").innerHTML = skorValue4;
            temp4 = document.getElementById("nilai4").innerHTML = nilaiValue4;
            //untuk mengambil data Skor Nilai Review
            $("#N1_FIELD4").val(document.getElementById("N1_FIELDS4").innerHTML);

            /* Untuk Value 5 --> Kewajaran metode tahapan target.. */
            var value5 = document.getElementById("N1_JUSTIFIKASI5").value;
            skorValue5 = parseInt(value5) * 1;
            nilaiValue5 = 12.5 * skorValue5;
            document.getElementById("N1_FIELDS5").innerHTML = skorValue5;
            temp5 = document.getElementById("nilai5").innerHTML = nilaiValue5;
            //untuk mengambil data Skor Nilai Review
            $("#N1_FIELD5").val(document.getElementById("N1_FIELDS5").innerHTML);

            /* Untuk Value 6 --> Kekinian dan sumber primer.. */
            var value6 = document.getElementById("N1_JUSTIFIKASI6").value;
            skorValue6 = parseInt(value6) * 1;
            nilaiValue6 = 12.5 * skorValue6;
            document.getElementById("N1_FIELDS6").innerHTML = skorValue6;
            temp6 = document.getElementById("nilai6").innerHTML = nilaiValue6;
            //untuk mengambil data Skor Nilai Review
            $("#N1_FIELD6").val(document.getElementById("N1_FIELDS6").innerHTML);

            /* Untuk Value 7 --> Penulisan usulan sesuai panduan.. */
            var value7 = document.getElementById("N1_JUSTIFIKASI7").value;
            skorValue7 = parseInt(value7) * 1;
            nilaiValue7 = 10 * skorValue7;
            document.getElementById("N1_FIELDS7").innerHTML = skorValue7;
            temp7 = document.getElementById("nilai7").innerHTML = nilaiValue7;
            //untuk mengambil data Skor Nilai Review
            $("#N1_FIELD7").val(document.getElementById("N1_FIELDS7").innerHTML);

            //untuk menghitung total inputan skor sesuai apa yg di select
            document.getElementById("jumlahTotal").innerHTML = temp1 + temp2 + temp3 + temp4 + temp5 + temp6 + temp7;
            var x = document.getElementById("jumlahTotal").innerHTML;
            $("#jumlah").val(document.getElementById("jumlahTotal").innerHTML);
            //if (x > 500) {
            //    alert("LEBIH DARI 10!");
            //} else {
            //    console.log("no")
            //}
            //console.log(x);

        }

     
        window.addEventListener('load', function () {
            var forms = $('#formAddNilaiReview');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    else {
                        event.preventDefault();
                        let html = document.getElementById("jumlahTotal").innerHTML;
                        if (html > 500) {
                            form.submit();
                        } 
                        console.log(html);
                        
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
             

    </script>





</body>
</html>
