@{ ViewData["Title"] = "Pengelolaan Assesor/Reviewer "; }

<!DOCTYPE html>


<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Data Table-->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">*@
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

        body {
            font-family: 'Karla', sans-serif;
        }


        [aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {
            display: none;
        }

        .table thead th {
            vertical-align: middle;
            align-content: center;
            text-align: center;
        }

        .label {
            color: white;
            border-radius: 5px;
            border-spacing: 20px;
            padding: 5px;
            margin-top: 50px;
            margin-bottom: 60px;
        }

        .penelitianDiajukan {
            background-color: chocolate;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .propoPenelitian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .propoPengabdian {
            background-color: darkcyan;
            margin-top: 50px;
            margin-bottom: 20px;
        }

    
        .btn {
            background-color: transparent;
            border: #2573e0 2px solid;
            color: #2573e0;
            border-radius: 33px;
            padding: 13px 13px;
            font-size: 20px;
            cursor: pointer;
        }
        .content-wrapper {
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
            min-height: 402px !important;
        }

        .title-card {
            color: #FFFFFF;
            background-color: #F2AA4C;
            padding: 15px;
            border-radius: 10px 10px 0px 0px;
            min-width: inherit;
        }

        .blue-color {
            background-color: #1d84C6 !important;
        }

        .green-color {
            background-color: #1CB394 !important;
        }

        .td, th {
            vertical-align: middle;
        }

        .td, .style8 {
            width: 170px;
            background-color: gray;
        }
    </style>
</head>
<body>

    <div class="px-3 mt-3">
        <div class="content-wrapper p-3">

            <div class="card-header">

                <a href="#" class="brand-link" style="background-color:lightblue">
                    <img src="~/images/profile-user.png" alt="Profile" class="brand-image img-circle elevation-3" style="opacity: .8">

                    <span style="color:black">
                        Pengelolaan Assesor/Reviewer

                    </span>

                </a>
            </div>
            @if (TempData["succ"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color:green">
                    <strong>@TempData["succ"].ToString()</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (TempData["err"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@TempData["err"].ToString()</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div style="width: 100%; overflow-x: auto;" class="col">
                <div class="card-body">
                    <table id="tblData" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SESUAIKAN</th>
                                <th>NPP</th>
                                <th>NAMA</th>
                                <th>ROLE</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.data)
                            {

                                <tr>
                                    <td class="text-center">
                                        @if (item.ID_ROLE != 3)
                                        {
                                            <button class="btn" style="font-weight:bold; font-size:larger" title="Delete Role"><a href="UbahRolePengelolaan?npp=@item.NPP"><i class="fa fa-edit"></i></a></button>
                                            <button disabled class="btn" style="font-weight:bold; font-size:larger" title="Tambah Role Reviewer"><a href="TambahRolePengelolaan?npp=@item.NPP"><i class="fa fa-plus-circle"></i></a></button>

                                        }
                                        else
                                        {
                                            <button  disabled class="btn" style="font-weight:bold; font-size:larger" title="Delete Role"><a href="UbahRolePengelolaan?npp=@item.NPP"><i class="fa fa-edit"></i></a></button>
                                            <button  class="btn" style="font-weight:bold; font-size:larger" title="Tambah Role Reviewer"><a href="TambahRolePengelolaan?npp=@item.NPP"><i class="fa fa-plus-circle"></i></a></button>

                                        }

                                        @*<p class="btn" style="font-weight:bold" onclick="togModalTambahReviewer(@item.NPP)"><i class="fa fa-plus-circle"></i></p>*@

                                    </td>

                                    <td> @item.NPP</td>
                                    <td> @item.NAMA</td>
                                    <td>@item.DESKRIPSI</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>
    @*Modal Dekan Disetujui*@
    <div class="modal fade" id="modalTambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Tambah Reviewer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin ingin menambah data dosen menjadi reviewer?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <button type="button" onclick="tambahRoleReviewer()" class="btn btn-danger">Tambah</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>



    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });</script>


    <script>
        var npp;
        var tempIdUpdate;

        $('#tblData').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

        });
        function togModalTambahReviewer(NPP) {
            console.log(NPP)
            npp = NPP;
            this.tempIdUpdate = NPP;

            $('#modalTambah').modal('show');
        }
        function closeModalTambah() {
            $('#modalTambah').modal('hide');
        }
        function tambahRoleReviewer() {
            var self = this;
            console.log(npp);
           

            $.ajax({
                type: "POST",
                url: "/Pengelolaan/TambahDataReviewer?npp=" + NPP,
                data: ({ npp: npp }),
                success: function (data) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Dosen berhasil ditambahkan sebagai Reviewer!',
                        confirmButtonText: 'Tutup',
                    })
                    closeModalTambah();
                    window.location.reload();

                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'SiLPPM said: ',
                        text: 'Dosen gagal ditambah!',
                    })
                    window.location.reload();
                }
            });
        }
    </script>


</body>
</html>
